<div class="md:max-w-3/4 max-w-full m-auto px-6 py-8 text-black dark:text-white flex flex-row gap-4">
  <div class="w-1/2">
    <h3 class="text-2xl font-bold mb-2">My Skills & Tools</h3>
    <p class="text-sm opacity-80">
      Some tools that I use to build scalable and usable apps. I focus on modern technologies and best practices to create efficient, maintainable solutions.
    </p>
  </div>

  <div class="w-1/2 grid grid-cols-2 md:grid-cols-3 gap-6 mt-6 md:mt-0">



    <div>
      <svg-icon src="assets/icons/springboot.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

    <div>
      <svg-icon src="assets/icons/java.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

        <div>
      <svg-icon src="assets/icons/typescript.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

    <div>
      <svg-icon src="assets/icons/mysql.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

    <div>
      <svg-icon src="assets/icons/docker.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

    <div>
      <svg-icon src="assets/icons/git.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

        <div>
      <svg-icon src="assets/icons/angular.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

    <div>
      <svg-icon src="assets/icons/vue.svg" [svgStyle]="{ width: '50px', height: '50px' }"></svg-icon>
    </div>

  </div>
</div>
