<div class="md:max-w-3/4 max-w-full m-auto flex flex-row px-6 py-2 md:min-h-[65vh]">
  <!-- Info -->
  <div class="w-1/2 flex items-center">
    <div>
      <small class="text-gray-700 dark:text-gray-400">Hello There</small>
      <h1 class="text-3xl font-bold text-black dark:text-white">
        I am Alexander <br />
        FullStack Developer <br />
        Based in Peru
      </h1>
      <p class="text-gray-700 dark:text-gray-400" style="text-wrap: balanced">
        I craft clean, user-friendly digital experiences. From wireframes to code, I bring your
        ideas to life.
      </p>

      <div class="flex gap-4 mt-4">
        <a class="group relative inline-block text-sm font-medium" href="#">
          <span
            class="absolute inset-0 translate-x-0 translate-y-0 border border-black dark:border-white transition-transform group-hover:translate-x-0.5 group-hover:translate-y-0.5"
          ></span>

          <span
            class="relative flex items-center gap-2 px-8 py-3 bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white transition-colors"
          >
            Download CV

            <svg-icon
              src="assets/icons/download.svg"
              [svgStyle]="{
                width: '20px',
                height: '20px',
                color: 'currentColor'
              }"
            ></svg-icon>
          </span>
        </a>

        <a class="group relative inline-block text-sm font-medium" href="#">
          <span
            class="absolute inset-0 translate-x-0 translate-y-0 border border-black dark:border-white transition-transform group-hover:translate-x-0.5 group-hover:translate-y-0.5"
          ></span>

          <span
            class="relative flex items-center gap-2 px-8 py-3 bg-white text-black dark:bg-black dark:text-white border border-black dark:border-white transition-colors"
          >
            Download CV
          </span>

        </a>
      </div>
    </div>
  </div>

  <!-- Illustration -->
  <div class="w-1/2 flex justify-center items-center">
    <svg-icon
      src="assets/images/hero-illustration.svg"
      svgClass="w-90 h-90 text-black dark:text-white"
    ></svg-icon>
  </div>
</div>
