<div
  class="md:max-w-3/4 max-w-full m-auto flex flex-col md:flex-row
         px-6 py-8 md:py-2 md:min-h-[65vh] gap-10"
  id="home"
>
  <div class="w-full md:w-1/2 flex items-center text-center md:text-left">
    <div>
      <small class="text-gray-700 dark:text-gray-400 block mb-2">
        Hello There
      </small>

      <h1 class="text-3xl md:text-4xl font-bold text-black dark:text-white leading-tight">
        I am Alexander <br />
        FullStack Developer <br />
        Based in Peru
      </h1>

      <p
        class="text-gray-700 dark:text-gray-400 mt-4 max-w-xl mx-auto md:mx-0"
        style="text-wrap: balanced"
      >
        I craft clean, user-friendly digital experiences. From wireframes to code, I bring your
        ideas to life.
      </p>

      <div class="flex flex-col sm:flex-row gap-4 mt-6 justify-center md:justify-start">


        <a
          href="#"
          class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-xl
                 border border-gray-300 dark:border-gray-700
                 text-gray-700 dark:text-gray-300
                 hover:border-black dark:hover:border-white hover:text-black dark:hover:text-white
                 transition-colors"
          aria-label="See on GitHub"
        >
          <span class="text-sm">Download CV</span>
          <svg-icon
            src="assets/icons/download.svg"
            [svgStyle]="{
              width: '18px',
              height: '18px',
              color: 'currentColor'
            }"
          ></svg-icon>
        </a>

        <a
          href="#"
          class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-xl
                 bg-black text-white dark:bg-white dark:text-black
                 hover:bg-gray-800 dark:hover:bg-gray-200
                 transition-colors"
          aria-label="Live demo"
        >
          <span class="text-sm">Send Message</span>
          <svg-icon
            src="assets/icons/external-link.svg"
            [svgStyle]="{
              width: '18px',
              height: '18px',
              color: 'currentColor'
            }"
          ></svg-icon>
          </a>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 flex justify-center items-center">
    <img
      src="https://placehold.co/400x400"
      alt="Hero Illustration"
      class="w-64 sm:w-80 md:w-96 h-auto rounded-3xl shadow-2xl object-cover"
    />
  </div>
</div>
