<div
  class="md:max-w-3/4 max-w-full m-auto px-6 py-12 text-black dark:text-white
         flex flex-col-reverse md:flex-row items-center gap-10 relative"
>
  <!-- Decorative Shape -->
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 h-96 border border-gray-100 dark:border-gray-800 rounded-full -z-10 opacity-60"></div>
  <div class="w-full md:w-1/2 flex justify-center items-center">
    <img
      src="https://placehold.co/400x400"
      alt="About Illustration"
      class="w-64 sm:w-70 md:w-75 h-auto rounded-3xl shadow-2xl object-cover"
    />
  </div>

  <div class="w-full md:w-1/2 text-left">
    <h3 class="text-2xl font-bold mb-6 text-black dark:text-white">
      About Me
    </h3>

    <p
      class="text-gray-700 dark:text-gray-400 max-w-xl mx-auto md:mx-0"
      style="text-wrap: balanced"
    >
      FullStack Developer with 2+ years of experience in agencies and multinational projects. I
      enjoy working on both backend and frontend, creating efficient, robust systems while building
      seamless and user-friendly interfaces. I am passionate about writing clean, maintainable code
      and continuously improving my skills in software development.
    </p>
  </div>
</div>
