@import "tailwindcss";

@import "./assets/styles/reset";
@import "./assets/styles/typography";
@import "./assets/styles/variables";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));